.navigation__list,
.contact__list,
.work__list,
.about-list,
.team-list,
.footer-list,
.portfolio-filter,
.portfolio-list,
.team-links,
.clients-list,
.footer-soc-links,
.burger-navigation__list,
.burger-contact,
.burger-soc-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}